<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <main> 
        <div class="main-content">
            <div class="main-content">
                <div class="product-cards">
                <!-- Card 1 -->
                <div class="card">
                        <img src="/assets/images-products/image 1.png" alt="Product 1">
                        <div class="discount-circle">30%</div>
                    <div class="card-info">
                        <h2>Syltherine</h2>
                        <p>Stylish cafe chair</p>
                            <div class="price">
                                <span class="main-price">Rp2.500.000</span>
                                <span class="discount-price">Rp 3.500.000</span>
                            </div>
                    </div>
                </div>
    
                <!-- Card 2 -->
                <div class="card">
                    <img src="/assets/images-products/image2.png" alt="Product 2">
                <div class="card-info">
                    <h2>Leviosa</h2>
                    <p>Stylish cafe chair</p>
                        <div class="price">
                            <span class="main-price">Rp2.500.000</span>
                        </div>
                </div>
            </div> 
    
            <!-- Card 3 -->
            <div class="card">
                <img src="/assets/images-products/Image3.png" alt="Product 1">
                <div class="discount-circle">30%</div>
            <div class="card-info">
                <h2>Lolito</h2>
                <p>Luxury big sofa</p>
                    <div class="price">
                        <span class="main-price">Rp7.000.000</span>
                        <span class="discount-price">Rp 14.000.000</span>
                    </div>
            </div>
            </div> 
    
            <!-- Card 4 -->
            <div class="card">
                <img src="/assets/images-products/Image4.png" alt="Product 1"> 
                <div class="discount-circle-new"> New </div>
            <div class="card-info">
                <h2>Respira</h2>
                <p>Outdoor bar table and stool</p>
                    <div class="price">
                        <span class="main-price">Rp2.500.000</span>
                    </div>
            </div>
            </div> 
    
            <!-- LINHA 2 -->
    
            <!-- Card 1 -->
            <div class="card">
                <img src="/assets/images-products/image 1.png" alt="Product 1">
                <div class="discount-circle">30%</div> 
            <div class="card-info">
                <h2>Respira</h2>
                <p>Stylish cafe chair</p>
                    <div class="price">
                        <span class="main-price">Rp2.500.000</span>
                        <span class="discount-price">Rp 3.500.000</span>
                    </div>
            </div>
            </div> 
    
            <!-- Card 2 -->
            <div class="card">
                <img src="/assets/images-products/image2.png" alt="Product 2">
                    <div class="card-info">
                        <h2>Leviosa</h2>
                        <p>Stylish cafe chair</p>
                            <div class="price">
                                <span class="main-price">Rp2.500.000</span>
                            </div>
                    </div>
            </div> 
    
            <!-- Card 3 -->
            <div class="card">
                <img src="/assets/images-products/Image3.png" alt="Product 1"> 
                <div class="discount-circle">30%</div>
            <div class="card-info">
                <h2>Lolito</h2>
                <p>Luxury big sofa</p>
                    <div class="price">
                        <span class="main-price">Rp7.000.000</span>
                        <span class="discount-price">Rp 14.000.000</span>
                    </div>
            </div>
            </div> 
    
            <!-- Card 4 -->
            <div class="card">
                <img src="/assets/images-products/Image4.png" alt="Product 1">
                <div class="discount-circle-new">New</div>
            <div class="card-info">
                <h2>Respira</h2>
                <p>Outdoor bar table and stool</p>
                    <div class="price">
                        <span class="main-price">Rp2.500.000</span>
                    </div>
            </div>
            </div> 
    
    
            <!-- LINHA 3 -->
    
            <!-- Card 1 -->
            <div class="card">
                <img src="/assets/images-products/image 1.png" alt="Product 1">
                <div class="discount-circle">30%</div>
            <div class="card-info">
                <h2>Syltherine</h2>
                <p>Stylish cafe chair</p>
                    <div class="price">
                        <span class="main-price">Rp2.500.000</span>
                        <span class="discount-price">Rp 3.500.000</span>
                    </div>
            </div>
            </div>
     
            <!-- Card 2 -->
            <div class="card">
                <img src="/assets/images-products/image2.png" alt="Product 2">
                    <div class="card-info">
                        <h2>Leviosa</h2>
                        <p>Stylish cafe chair</p>
                            <div class="price">
                                <span class="main-price">Rp2.500.000</span>
                            </div>
                    </div>
            </div> 
    
            <!-- Card 3 -->
            <div class="card">
                <img src="/assets/images-products/Image3.png" alt="Product 1"> 
                <div class="discount-circle">30%</div>
            <div class="card-info">
                <h2>Lolito</h2>
                <p>Luxury big sofa</p>
                    <div class="price">
                        <span class="main-price">Rp7.000.000</span>
                        <span class="discount-price">Rp 14.000.000</span>
                    </div>
            </div>
            </div> 
    
            <!-- Card 4 -->
            <div class="card">
                <img src="/assets/images-products/Image4.png" alt="Product 1"> 
                <div class="discount-circle-new">New</div>
            <div class="card-info">
                <h2>Respira</h2>
                <p>Outdoor bar table and stool</p>
                    <div class="price">
                        <span class="main-price">Rp2.500.000</span>
                    </div>
            </div>
            </div> 
    
            <!-- LINHA 4 -->
    
    
            <!-- Card 1 -->
            <div class="card">
                <img src="/assets/images-products/image 1.png" alt="Product 1"> 
                <div class="discount-circle">30%</div>
            <div class="card-info">
                <h2>Syltherine</h2>
                <p>Stylish cafe chair</p>
                    <div class="price">
                        <span class="main-price">Rp2.500.000</span>
                        <span class="discount-price">Rp 3.500.000</span>
                    </div>
            </div>
            </div>
    
            <!-- Card 2 -->
            <div class="card">
                <img src="/assets/images-products/image2.png" alt="Product 2">
    
                    <div class="card-info">
                        <h2>Leviosa</h2>
                        <p>Stylish cafe chair</p>
                            <div class="price">
                                <span class="main-price">Rp2.500.000</span>
                            </div>
                    </div>
            </div> 
    
    
            <!-- Card 3 -->
            <div class="card">
                <img src="/assets/images-products/Image3.png" alt="Product 1">
            <div class="card-info">
            <div class="discount-circle">30%</div>
                <h2>Lolito</h2>
                <p>Luxury big sofa</p>
                    <div class="price">
                        <span class="main-price">Rp7.000.000</span>
                        <span class="discount-price">Rp 14.000.000</span>
                    </div>
            </div>
            </div> 
    
            <!-- Card 4 -->
            <div class="card">
                <img src="/assets/images-products/Image4.png" alt="Product 1">
                <div class="discount-circle-new">New</div>
            <div class="card-info">
                <h2>Respira</h2>
                <p>Outdoor bar table and stool</p>
                    <div class="price">
                        <span class="main-price">Rp2.500.000</span>
                    </div>
            </div>
            </div> 
            </div> 
    
            <!-- Buttons -->
            <div class="pagination">
                <button class="page-btn">1</button>
                <button class="page-btn">2</button>
                <button class="page-btn">3</button>
                <button class="next-btn">Next</button>
            </div>
        </div> 
    </main>
</body>
</html>